* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*
html, body{
    overflow-x: hidden;
}
*/

body {
	background-image: url( ../images/abs1.jpg);
	background size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Song Myung', serif;



}


h1{
	color: gold;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
    font-family: 'Poor Story', cursive;



	
}

h2{
	color: white;
	font-size: 18px;
	margin-bottom: 0;
	font-family: 'Domine', serif;
	
}

.bio{
	color: white;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	background-color: black;
	font-family: 'Montserrat Alternates', sans-serif;


	

}
.prj{
	color: yellow;
	font-family: 'Poor Story', cursive;
	font: 25px;
}
.me{
	height: 120px;
	width: 120px;
	border-radius: 100%;
	border-style: solid;
	border-color: gold;
	margin-top: 120px;
}

.abouts {
    background: black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    opacity: 0.8;
    top: 600px;
    left: 350px;
    position: relative;

    
    
}

.container2{
    color: white;
    font-family: 'Domine', serif;
    font-size: 15px;
    top: 370px;
    position: relative;
    width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: black;
    opacity: 0.8;

    
}


.container {
    background: gray;
    opacity:0.5;
}

p{
    color: azure;
}

.about {
	
	margin-left: 30;
}

@media (min-width: 576px) and (max-width: 767.98px){
    body {
	background-image: url( ../images/pbg.jpeg);
	background size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Song Myung', serif;
	margin-bottom: 300%;
    width: 100vw;
    height: 100vh;
}	

@media (min-width: 768px) and (max-width: 767.98px){
    
}

@media (min-width: 992px) and (max-width: 1199.98px){
   

@media (min-width: 1200px) {
    
}
