* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*
html, body{
    overflow-x: hidden;
}
*/

body {
	background-image: url( ../images/abs1.jpg);
	background size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Song Myung', serif;



}


h1{
	color: gold;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
    font-family: 'Poor Story', cursive;



	
}

h2{
	color: white;
	font-size: 18px;
	margin-bottom: 0;
	font-family: 'Domine', serif;
	
}

.bio{
	color: white;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	background-color: black;
	font-family: 'Montserrat Alternates', sans-serif;


	

}

.me{
	height: 120px;
	width: 120px;
	border-radius: 100%;
	border-style: solid;
	border-color: gold;
	margin-top: 120px;
}

.abouts {
    background: black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    opacity: 0.8;
    top: 400px;
    left: 500px;
    position: relative;
    
    
}

.container {
    background: gray;
    opacity:0.5;
}

p{
    color: azure;
}

.prj{
    background: black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
    opacity: 0.8;
    top: 400px;
    left: 500px;
    position: relative;
    
}